@import "../../bootstrap/scss/bootstrap";

body {
	color: white;
	font-family: "Raleway", "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1.2em;
}

header {
	background: url('../images/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg') rgba(0, 0, 0, 0.8);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	min-height: 100%;
}

content {

}

footer {

}


.container {
	max-width: 1320px;
	
}


h1 {
	font-size: 40px;
	color: white;
	a {
		color: inherit;
		text-decoration: none;
	}
}

h2 {
	font-size: 24px;
	font-weight: 500;
	margin-top: 20px;
	color: rgba(255, 255, 255, 0.8);
	span {
		color: white;
		border-bottom: 2px solid var(--accent-color);
    	padding-bottom: 6px;
	}
}

.nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	ul {
		margin: 0;
	    padding: 0;
	    display: flex;
	    list-style: none;
	    align-items: center;
		li {
			.nav-link {

			}
		}
	}
}

.social-links {
	> a {
		display: inline-block;
		width: 20px;
		height: 20px;
		padding: 3px;
		border-radius: 2px;
		background: white;
	}
}